/*[ Table ]*/

/*auto number*/
table {
    counter-reset: rowNumber -1;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table tr td {
    white-space: nowrap;
    text-align: center;
    min-width: 5rem;
}

table tr td:first-child {
    min-width: auto;
    font-width: bold;
}

table tr td:nth-child(6),
table tr td:nth-child(7) {
    white-space: pre;
    max-width: 17rem;
    overflow: auto;
    text-align: left;
}

table tr td:nth-child(7) {
    padding-left: 1rem;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table td, table th {
    padding: 5px;
}

table thead tr {
    position: sticky;
    top: 0;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    background: #7c93af;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    height: 50px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background: rgba(255, 248, 248, 0.61);
    cursor: pointer;
}

table tbody tr:last-child {
    border: 0;
}

table td.l, table th.l {
    text-align: right;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

